body {
  font-size: 16px;
}

a {
  text-decoration: none;

  &:hover {
    color: yellow;
    cursor: pointer;
  }
}

h1 {
  font-size: 2.5rem;
  /* 40px */
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  /* 32px */
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  /* 24px */
  font-weight: 600;
}

h4 {
  font-size: 1.25rem;
  /* 20px */
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  /* 16px */
  font-weight: 500;
}

h6 {
  font-size: 0.875rem;
  /* 14px */
  font-weight: 500;
}